{% extends 'base/backend.twig' %}

{% block stylesheets %}
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ base_url() }}/js/libs/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ base_url() }}/js/libs/AdminLTE/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="{{ base_url() }}/js/libs/AdminLTE/dist/css/skins/skin-green.min.css">

    <!-- iCheck -->
  	<link rel="stylesheet" href="{{ base_url() }}/js/libs/AdminLTE/plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block body_params %}class="hold-transition login-page"{% endblock %}

{% block body %}
	{% if flash.getMessage('global').0 %}
    <div class="alert alert-success">
        {{ flash.getMessage('global').0 }}
    </div>
{% endif %}
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Slim</b>Prueba</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">{{ "SIGN_IN_MSG"|trans }}</p>

    <form action="/login" method="POST" role="form" id="subscriptionForm">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" name="email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="{{ "PASSWORD"|trans }}" name="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox" name="remember"> {{ "REMEMBER_ME"|trans }}
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">{{ "SIGN_IN"|trans }}</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a href="forgot">{{ "FORGOT_PASS"|trans }}</a><br>
    <a href="signup" class="text-center">{{ "SIGN_UP"|trans }}</a>

  </div>
  <!-- /.login-box-body -->
</div>
{% endblock %}

{% block javascripts %}
	<!-- jQuery -->
	<script src="{{ base_url() }}/js/libs/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="{{ base_url() }}/js/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- iCheck -->
	<script src="{{ base_url() }}/js/libs/AdminLTE/plugins/iCheck/icheck.min.js"></script>
	<script>
	  $(function () {
	    $('input').iCheck({
	      checkboxClass: 'icheckbox_square-blue',
	      radioClass: 'iradio_square-blue',
	      increaseArea: '20%' // optional
	    });
	  });
	</script>
{% endblock %}
